In [1]:
CREATE USER user1 FOR LOGIN user1 WITH DEFAULT_SCHEMA = [DBO]
GO
CREATE USER user2 FOR LOGIN user2 WITH DEFAULT_SCHEMA = [DBO]
GO

In [2]:
create table table1(id int primary key, name varchar(50));
go
create table table2(id int primary key, name varchar(50));
go

In [4]:
insert into table1 (id, name) values(11, 'user11'), (21, 'user21')

In [5]:
insert into table2 (id, name) values(12, 'user12'), (22, 'user22')

In [6]:
grant select on dbo.table1 to user1;

In [7]:
grant select on dbo.table2 to user2;