In [1]:
create database mydatabase;

In [10]:
use mydatabase;
go
create table table1(id int primary key, name varchar(50));
go
create table table2(id int primary key, name varchar(50));
go

: Msg 2714, Level 16, State 6, Line 3
There is already an object named 'table1' in the database.

: Msg 2714, Level 16, State 6, Line 5
There is already an object named 'table2' in the database.

In [6]:
use master;
CREATE LOGIN [user1]
WITH PASSWORD = 'MyPassword1',
DEFAULT_DATABASE = mydatabase;

In [7]:
use master;
CREATE LOGIN [user2]
WITH PASSWORD = 'MyPassword2',
DEFAULT_DATABASE = mydatabase;

In [11]:
use master;
ALTER LOGIN user1 ENABLE;
ALTER LOGIN user2 ENABLE;

In [12]:
USE mydatabase;
GO
CREATE USER user1 FOR LOGIN user1 WITH DEFAULT_SCHEMA = [DBO]
GO
CREATE USER user2 FOR LOGIN user2 WITH DEFAULT_SCHEMA = [DBO]
GO

In [ ]:
USE [master]
GO
EXEC master.dbo.sp_addlinkedserver @server = N'AZUREPLAYGROUND', @srvproduct=N'', @provider=N'SQLOLEDB', @datasrc=N'jmzresearchplayground.database.windows.net', @catalog=N'playground'

GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'collation compatible', @optvalue=N'false'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'data access', @optvalue=N'true'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'dist', @optvalue=N'false'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'pub', @optvalue=N'false'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'rpc', @optvalue=N'true'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'rpc out', @optvalue=N'true'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'sub', @optvalue=N'false'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'connect timeout', @optvalue=N'0'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'collation name', @optvalue=null
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'lazy schema validation', @optvalue=N'false'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'query timeout', @optvalue=N'0'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'use remote collation', @optvalue=N'true'
GO
EXEC master.dbo.sp_serveroption @server=N'AZUREPLAYGROUND', @optname=N'remote proc transaction promotion', @optvalue=N'true'
GO
USE [master]
GO
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'AZUREPLAYGROUND', @locallogin = N'user1', @useself = N'False', @rmtuser = N'user1', @rmtpassword = N'MyPassword1'
GO
USE [master]
GO
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'AZUREPLAYGROUND', @locallogin = N'user2', @useself = N'False', @rmtuser = N'user2', @rmtpassword = N'MyPassword2'
GO